@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

html {
	font-size: medium;
	--color-primary: hsl(0, 0%, 100%);
	--color-text: hsl(0, 0%, 0%);
	--color-background: hsl(0, 0%, 100%);
	--color-text-anchor: #7800e0;
	--color-text-anchor-hover: #005c00;
	--color-text-anchor-visited: #0000ff;
	@apply font-serif sm:font-sans;
}

html[data-font-size="large"] {
	font-size: x-large;
}

html[data-contrast="high"] {
	--color-primary: rgb(0, 0, 0);
	--color-text: rgba(255, 255, 255, 0.85);
	--color-background: rgb(0, 0, 0);
	--color-text-anchor: #f9690e;
	--color-text-anchor-hover: #c8f7c5;
	--color-text-anchor-visited: #fde3a7;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
}

body > header > a {
	@apply absolute w-1 h-1 top-auto inline;
	left: -10000px;
}

body > header > a:focus {
	@apply w-auto h-auto static;
}

body > header {
	@apply w-full;
}

body > header > nav {
	background-color: var(--color-primary);
	@apply w-full py-4;
}

body > header > nav > ul {
	@apply mx-auto list-none list-inside flex flex-col w-10/12 md:w-full md:flex-row;
}

body > header > nav > ul li {
	@apply flex-grow flex justify-start md:justify-center content-center;
}

body > header figure {
	@apply w-full;
}

body > header figure img {
	@apply w-full h-60 object-cover;
}

body > header figure figcaption {
	@apply mx-auto w-10/12 md:w-8/12 lg:w-6/12;
}

@media print {
	main {
		@apply w-10/12;
	}
	main button {
		@apply hidden;
	}
	footer {
		@apply w-10/12;
	}
}

main {
	@apply mx-auto w-10/12 md:w-8/12 lg:w-6/12;
}

figure {
	@apply mx-auto w-10/12;
}

figure iframe[src*="youtube"] {
	@apply w-full aspect-video;
}

footer {
	@apply mx-auto my-4 pt-2 border-t  w-10/12 md:w-8/12 lg:w-6/12;
}

img {
	@apply text-center;
}

table {
	@apply table-auto;
}

th,
td {
	border-color: var(--color-text);
	@apply py-2 px-4 border text-left;
}

caption {
	@apply py-2 text-left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold capitalize py-2 my-2;
}

h2,
h3,
h4,
h5,
h6 {
	@apply border-b;
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}

a {
	@apply underline;
	color: var(--color-text-anchor);
}

a:hover {
	color: var(--color-text-anchor-hover);
}

a:visited {
	color: var(--color-text-anchor-visited);
}

a:visited:hover {
	color: var(--color-text-anchor-hover);
}

blockquote {
	@apply font-mono;
}

blockquote::before,
blockquote::after {
	content: '"';
	background-image: linear-gradient(
		var(--color-background),
		var(--color-background)
	);
}

button {
	border-color: var(--color-text);
	background-color: var(--color-background);
	@apply my-2 px-4 py-1 block border rounded-md;
}

button:hover {
	color: var(--color-background);
	background-color: var(--color-text);
}

p {
	@apply py-2 max-w-prose;
}

form {
	@apply block my-4 w-full md:w-8/12;
}

form > div {
	@apply my-4 block;
}

label {
	@apply py-1 block;
}

input[type="email"],
textarea {
	border-color: var(--color-text);
	background-color: var(--color-background);
	@apply block border w-full p-1;
}

fieldset {
	border-color: var(--color-text);
	@apply w-full my-4;
}

fieldset div {
	@apply flex px-4 py-2;
}

fieldset label {
	@apply flex-grow p-0 pl-4;
}

form button {
	@apply inline-block;
}

svg {
	@apply text-inherit;
}

#style_switcher_container {
	@apply fixed bottom-4 right-4 flex flex-row sm:flex-col;
}

#style_switcher_container button {
	color: var(--color-text);
	@apply w-10 h-10 p-1
		m-1;
}

#style_switcher_container button:hover {
	color: var(--color-background);
}
