@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

@import "./header.css";
@import "./main.css";
@import "./footer.css";

html {
	font-size: medium;

	--color-primary: hsl(0, 0%, 80%);
	--color-text: hsl(0, 0%, 0%);
	--color-background: hsl(0, 0%, 100%);
	--color-text-anchor: hsl(214, 82%, 73%);
	--color-text-anchor-hover: hsl(282, 56%, 58%);
	--color-text-anchor-visited: hsl(
		214,
		100%,
		58%
	);
}

html[data-font-size="large"] {
	font-size: large;
}

html[data-contrast="high"] {
	--color-primary: hsl(0, 0, 0);
	--color-text: hsl(0, 0%, 100%);
	--color-background: hsl(0, 0%, 0%);
	--color-text-anchor: hsl(27, 100%, 83%);
	--color-text-anchor-hover: hsl(106, 100%, 66%);
	--color-text-anchor-visited: hsl(27, 98%, 63%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold capitalize py-2 my-2;
}

h2,
h3,
h4,
h5,
h6 {
	@apply border-b;
}

table {
	@apply table-auto border-2 text-left;
}

table th,
table td {
	@apply py-2 px-4 border-2;
}

table caption details {
	@apply text-left;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
}

h1 {
	@apply text-3xl;
}
h2 {
	@apply text-2xl;
}
h3 {
	@apply text-xl;
}

p {
	@apply max-w-prose my-4;
}

nav {
	@apply w-full py-4;
}

small {
	@apply text-xs;
}

hr {
	@apply w-full my-2;
}

ul {
	@apply w-full list-none list-inside flex;
}

ul li {
	@apply flex-grow flex justify-center;
}

a {
	@apply underline;
	color: var(--color-text-anchor);
}

a:hover {
	color: var(--color-text-anchor-hover);
}

a:visited {
	color: var(--color-text-anchor-visited);
}

a:visited:hover {
	color: var(--color-text-anchor-hover);
}

blockquote {
	@apply font-mono;
}

blockquote::before,
blockquote::after {
	content: '"';
	background-image: linear-gradient(
		var(--color-background),
		var(--color-background)
	);
}

form {
	@apply w-80 my-8;
}

textarea {
	@apply w-full;
}

button {
	@apply border-2 px-4 py-1;
}

label {
	@apply block;
}

/* 
label p {
	@apply p-0 m-0;
}
form label {
	@apply py-2 block;
}

form fieldset label {
	@apply inline;
}

input {
	@apply inline;
}

input[type="email"] {
	@apply border-2 border-slate-200 w-full;
}

button:hover {
	@apply bg-slate-200;
} */
